@import './../../Misc/colors';

$danger: #e22134;
$dangerDark: #cc1022;
$info: #158fe6;

.command {
  padding: 0.3rem 0;
  cursor: pointer;

  &:last-child > td {
    border: 0;
  }

  &:not(.hasErrors) {
    border-bottom: 1px solid #5f636a;
  }

  &.hasErrors {
    background-color: #a61e2a;
    color: white !important;
    font-weight: bold;

    > td {
      color: white !important;
      border: none !important;
      background-image: none !important;
    }
  }

  & > td:first-child {
    text-align: right;
  }

  & > td {
    // padding: 0.125rem 0.25rem;
    padding: 0.075rem 0.25rem;

    &:first-child {
      padding-left: 0.25rem;
    }
    &:last-child {
      padding-right: 0.25rem;
    }
  }

  &:hover {
    background: $light;

    &.hasErrors {
      background: #cc1022;
    }
  }

  &.active {
    background: $light;

    &.hasErrors {
      background: #cc1022;

      & ~ tr > td > .error {
        background: rgba(255, 255, 255, 0.05);
      }
    }
  }

  & > td:last-child {
    // width: 100%;
  }

  & > td:nth-child(1),
  & > td:nth-child(2),
  & > td:nth-child(3) {
    color: #bac0ca;
  }

  & > td:nth-child(4) {
    font-weight: bold;
  }

  & > td:nth-child(5) {
    color: #d1d4d7;
    word-break: break-word;
  }

  & > td:not(:nth-child(5)) {
    width: 1%;
  }

  & > td:nth-child(6) {
    text-align: right;
  }
}