@import '../../Misc/colors';

.tabs {
    //background-color: #232529;
    align-items: center;
}

.tab {
    padding: 0.25rem 0.375rem;
    // border-radius: 4px;
    cursor: pointer;
    transition: background ease 0.15s;

    .subTitle {
        font-size: 0.875rem;
        color: #959595;
    }

    &.active,
    &:hover {
        background-color: $light;
    }

    &:not(:first-child) {
        margin-left: 0.25rem;
    }

    .close {
        display: flex;
        justify-content: center;
        width: 1.25rem;
        height: 1.25rem;
        font-size: 1.125rem;
        line-height: 1.125rem;
        border-radius: 50%;

        &:hover {
            background: $light;
        }
    }
}

.url {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    border: 1px solid #47484b;
    flex: 1;
    border-radius: 4px;
}

.preview {
    .url {
        flex: 1;
    }

    .info {
        .element {
            display: flex;
            align-items: center;
            padding: 0.25rem 0.5rem;
            border: 1px solid #47484b;
            border-radius: 4px;
            white-space: nowrap;
        }
    }

    .footer {
        display: grid;
        grid-auto-flow: column;
        justify-content: flex-end;
        grid-gap: 1rem;
    }

    .iframe-wrapper {
        border: solid $border-color;
        border-width: 1px 0 1px 1px;
        background-color: #1d1f22;

        iframe {
            opacity: 1;
            transition: opacity ease-in-out 150ms;

            &.darken {
                opacity: 0.75;
            }
        }

        .no-selected-preview {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            display: flex;
            align-items: center;
            justify-content: center;
            color: #2c2e32;
            font-size: 2.5rem;
        }
    }
}