@import 'Misc/colors';
@import '../../node_modules/bootstrap/scss/bootstrap';

.status {
  &[data-connected="true"] {
    color: $success;
  }

  &[data-connected="false"] {
    color: $danger;
  }
}

button {
  margin-right: 0.5rem;
}

#snapshotFrame {
  flex: 1;
}

.bg-striped {
  $color1: $primary-darker;
  $color2: $body-bg;
  $size: 7px;
  background-image: linear-gradient(135deg, $color1 25%, $color2 25%, $color2 50%, $color1 50%, $color1 75%, $color2 75%, $color2 100%);
  background-size: $size $size;
}

.cursor-pointer {
  cursor: pointer;
}

input[type="text"] {
  background: $primary!important;
  border-color: $primary-darker!important;
}

input[type="checkbox"]:focus {
  box-shadow: none;
}

.form-check-label {
  user-select: none;
}

.input-group {
  .input-group-text {
    background: $primary;
    color: $body-color;
    border-color: $primary-darker;
  }

  > *:not(:first-child) {
    border-left: none;
  }
}

.table-striped-custom {
  > tbody > tr:nth-of-type(#{$table-striped-order}) {
    --#{$variable-prefix}table-accent-bg: var(--#{$variable-prefix}table-striped-bg);
  }
}

.text-warning-dark {
  color: #8d6f13;
}

.text-break-all {
  word-break: break-all;
}

// Dark color scheme
// Currently supported on Chrome 81 and Safari 13
// https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme
:root {
  color-scheme: dark;
}

.btn:focus {
  box-shadow: none!important;
}

.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.75rem;
}
::-webkit-scrollbar-track {
  background: inherit;
}
::-webkit-scrollbar-thumb {
  background: $light;
  border-radius: 0.125rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ellipsis {
  position: relative;
}
.ellipsis:before {
  content: '&nbsp;';
  visibility: hidden;
}
.ellipsis span {
  position: absolute;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fs-small {
  font-size: 0.875rem;
}