@import './colors';
@import '../../node_modules/bootstrap/scss/bootstrap';

.status {
  &[data-connected="true"] {
    color: $success;
  }

  &[data-connected="false"] {
    color: $danger;
  }
}

button {
  margin-right: 0.5rem;
}

#snapshotFrame {
  flex: 1;
}

.bg-striped {
  background-image: linear-gradient(135deg, #c4c4c4 25%, #969696 25%, #969696 50%, #c4c4c4 50%, #c4c4c4 75%, #969696 75%, #969696 100%);
  background-size: 5px 5px;
}

.cursor-pointer {
  cursor: pointer;
}

input {
  background: $primary!important;
  border-color: $primary-darker!important;
}

.input-group {
  .input-group-text {
    background: $primary;
    color: $body-color;
    border-color: $primary-darker;
  }
}

// Dark color scheme
// Currently supported on Chrome 81 and Safari 13
// https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme
:root {
  color-scheme: dark;
}