$danger: #e22134;
$dangerDark: #cc1022;
$info: #158fe6;

.error {
  padding: 0.3rem 0.4rem;
  cursor: pointer;
  border-bottom: 1px solid #c7c7c7;
  border-left: 0.4rem solid $danger;

  .title {
    font-weight: bold;
  }

  .message {

  }

  &:hover {
    border-left-color: $dangerDark;
    background: #c4c4c4;
  }
}

.log {
  border-bottom: 1px solid #c7c7c7;

  > td > div {
    padding: 0.3rem 0.4rem;
    border-left: 0.5rem solid $info;

    &[data-messagetype='log'] {
      border-color: $info;
    }

    &[data-messagetype='error'] {
      border-color: $danger;
    }
  }
}

.command {
  padding: 0.3rem 0.4rem;
  cursor: pointer;

  &:last-child > td {
    border: 0;
  }

  &:not(.hasErrors) {
    border-bottom: 1px solid #5f636a;
  }

  &.hasErrors {
    background: $danger;
    color: white !important;
    font-weight: bold;

    > td {
      color: white !important;
    }
  }

  & > td:first-child {
    text-align: right;
  }

  & > td {
    padding: 0.125rem 0.5rem;
  }

  &:hover {
    background: #575c64;

    &.hasErrors {
      background: #cc1022;
    }
  }

  &.active {
    background: #686d77;

    &.hasErrors {
      background: #cc1022;

      & ~ tr > td > .error {
        background: #c4c4c4;
      }
    }
  }
}