@import './colors';

.context {
  display: flex;
  flex-direction: column;
  background: $primary;
  //border-left: 0.5rem solid #bb941d;
  // box-shadow: -1px 2px 5px 0 #8e8e8e;
  // border-bottom: 1px solid #afafaf;
  margin-bottom: 0.5rem;
  color: $body-color;
  padding: 0.125rem;

  &[data-status="pass"] {
    border-color: #129d12;
  }

  &[data-status="fail"] {
    border-color: #9d1212;
  }

  .name {
    cursor: pointer;
  }

  .snapshots {
    flex: 1;
    background: #494d54;
    border: none;
    border-collapse: collapse;
    width: auto;
    border-radius: 2px;

    tr {
      & > td:last-child {
        // width: 100%;
      }

      & > td:nth-child(1),
      & > td:nth-child(2) {
        color: #bac0ca;
      }

      & > td:nth-child(3) {
        font-weight: bold;
      }

      & > td:nth-child(4) {
        color: #d1d4d7;
        word-break: break-word;
      }

      & > td:not(:nth-child(4)) {
        width: 1%;
      }

      & > td:nth-child(5) {
        text-align: right;
      }
    }
  }
}