$text-disabled: #a2a5a8;

$lighter: rgba(255, 255, 255, 0.06);
$light: rgba(255, 255, 255, 0.10);

$accent: #daa520;

// $primary: #2b2e32;
// $primary: #1c1c1c;
$primary: $light;
$success: #169057;
$warning: #e29907;
$danger: #da3011;

$blue: #0072c5;

.btn.btn-primary {
  border-color: $light;
  color: inherit;

  &.active,
  &:hover {
    background-color: $light;
  }

  &:disabled {
    background-color: inherit;
    color: $text-disabled;
  }
}
.btn.btn-outline-primary {
  background-color: transparent;
  border-color: $light;
  color: inherit;

  &.active,
  &:hover {
    background-color: $light;
  }

  &:disabled {
    background-color: inherit;
    color: $text-disabled;
  }
}

//$primary-darker: #212529;
// $primary-darker: #1c1c1c;
$primary-darker: #191a1d;
$body-color: #bdc0c3;
$body-bg: #232529;

// Bootstrap color override
$table-striped-color: inherit;
$table-striped-bg-factor: 0.15;

$form-check-input-border: 1px solid $light;

$border-color: #393b3e;
// $text-color: #bac0ca;
$text-color: #c5cad0;

$body-color: $text-color;


.bg-lighter {
  background-color: $light;
}
.bg-darker {
  background-color: $primary-darker;
}

.text-accent {
  color: $accent;
}

.flex-1 {
  flex: 1;
}