//$primary: #2b2e32;
$primary: #1c1c1c;
//$primary-darker: #212529;
$primary-darker: #1c1c1c;
$body-color: #bdc0c3;
$body-bg: #232529;

// Bootstrap color override
$table-striped-color: inherit;
$table-striped-bg-factor: 0.15;